@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family:sans-serif, Times, serif;
  }
.checked\:bg-blue-500:checked + label {
    background-color: #37ff00; 
    color: #fff; 
    border-color: #00ff77; 
}@keyframes shrink {
  to {
    width: 0;
  }
}

.Toastify_progress-bar {
  animation: shrink 5s linear forwards;
}
a  Link  {
  color: white !important;
  text-decoration: none !important;
}